body {
    font-size: 30px;
    font-family: sans-serif;
    color: black; 
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* heading */

heading {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    padding: ;
}

/* front image */

front-left-image {
    align-items: center;
    padding-left: 70px;
}

front-right-image {
    align-items: center;
    padding-left: 15px;
}

/* game area */

question-area {

}

answer-area {

}

card {

}

control-area {
    padding: 20px;
}

scores {

}

/* footer */

footer {
    height: 100px;
    font-size: 15px;
}

social-network {
    padding-top: 10px;
}

/* media quries */

IDs