body {
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
    display: flex;
    flex-direction: column;
}


div {
   align-items: center;
}

/* heading */

.heading {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: black;
}

/* front image */

.front-left-image {
    float: left;
}

.front-right-image {
    float: right;
}

/* game area */

#game-area {
    font-size: large;
    height: 200px;
    width: 300px;
}

.question-area {
    height: 75px;
    width: 100px;
}

#question {
    font-size: large;
}

.center-text {
    text-align: center;
}

#answer-box {
    height: 75px;
    width: 100px;
}

.answer-area {
    padding: 50px;
}

#correct {
    font-size: large;
}

#incorrect {
    font-size: large;
}

#end-box {
    height: 75px;
    width: 100px;
}

.card {
    min-height: 35px;
    display: inline-block;
    background-color: blue;
    text-align: center;
}

control-area {
    padding: 20px;
}

scores {
    font-size: large;
    text-align: center;
}

#total {
    font-size: large;
}

.score-area {
    height: 75px;
    width: 100px;
    text-align: center;
}

/* footer */

footer {
    height: 100px;
    font-size: 15px;
}

social-network {
    padding-top: 10px;
}
