body {
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
    display: flex;
    justify-content: center;
}


div {
   align-items: center;
}

/* heading */

heading {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    
}

/* front image */

front-left-image {
    align-items: center;
    padding-right: 25px;
}

front-right-image {
    align-items: center;
    padding-left: 25px;
}

/* game area */

#game-area {

}

#question-area {

}

question-area {

}

#question {

}

.center-text {
    text-align: center;
}

.box-shadow {
    box-shadow: 0 -5px 12px;
    color: gray;
}

#answer-container {

}

#answer-box {

}

answer-area {
    padding: 50px;
}

#correct {

}

#incorrect {

}

#next-btn {

}

#incorrect-next-btn {

}

#end-box {

}

card {
    min-height: 35px;
    display: none;
    background-color: blue;
}

control-area {
    padding: 20px;
}

scores {

}

#total {

}

score-area {
    
}

/* footer */

footer {
    height: 100px;
    font-size: 15px;
}

social-network {
    padding-top: 10px;
}

/* media quries */
